* {
    box-sizing: border-box;
}

:root {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    --transparency: linear-gradient(rgba(0, 0 , 0, .6), rgba(0, 0 , 0, .6));
}

body {
    height: 100vh;
    padding: 32px 0;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
    min-height: 400px;
}

.loading {
    text-align: center;
    padding: 32px;
}

.city-container {
    padding: 16px 16px 0 16px;
}

.city {
    margin-top: 32px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.search {
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search > input {
    height: 40px;
    padding: 8px;
    background-color: #161616;
    border: 1px solid #707070;
    border-radius: 3px;
    color: #fff;
}

.search > button {
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    background-color: #7225d7;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
}

.search > button:hover {
    background-color: #8c47e5;
}

.city-error {
    margin-top: 3px;
    font-weight: 300;
    font-size: 0.9rem;
    color: #f87e7e;
}

.weather-container > p {
    margin-top: 4px;
    text-align: center;
}

.weather-icon {
    display: block;
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 0 auto;
}

p.temperature {
    margin-top: -24px;
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 700;
}

.air-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 24px;
    padding: 16px;
    margin-top: 32px;
}

.air-container p {
    text-align: center;
}

.air-label {
    font-weight: 300;
    color: #b6b6b6;
    margin-bottom: 6px;
}

.hidden {
    display: none;
}

/* Backgrounds */

.bg-sun { background-image: var(--transparency), url(./img/vicko-mozara-m82uh_vamhg-unsplash.jpg); }

.bg-few-clouds { background-image: var(--transparency), url(./img/ritam-baishya-ROVBDer29PQ-unsplash.jpg); }

.bg-clouds { background-image: var(--transparency), url(./img/zbynek-burival-8iZG31eXkks-unsplash.jpg); }

.bg-rain { background-image: var(--transparency), url(./img/max-bender-1YHXFeOYpN0-unsplash.jpg); }

.bg-thunder { background-image: var(--transparency), url(./img/david-moum-nbqlWhOVu6k-unsplash.jpg); }

.bg-snow { background-image: var(--transparency), url(./img/aaron-burden-5AiWn2U10cw-unsplash.jpg); }

.bg-mist { background-image: var(--transparency), url(./img/rebecca-prest-F0rQieonv3c-unsplash.jpg); }

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 600px) {
    body {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    main {
        max-width: 500px;
    }

    .search {
        margin-top: 0;
    }

    .air-container {
        grid-template-columns: repeat(4, 1fr);
    }
}